build/bin
node_modules
frontend/dist
data/
__pycache__
data.db
thumbnails/
data.db-shm
data.db-wal
build-linux.yml
faiss_index.index
faiss_mapping.json
worker.exe
installer/ObserverSetup.exe
python/worker.spec
python/build